<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-model</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<body>
    <div id="app">
        <input v-model="nome" /><br>
        <input :value="email" />

        <input type="checkbox" id="receberEmail" v-model="receberEmail">
        <label for="receberEmail">Receber Email</label> {{receberEmail}}
        <p>nome: {{nome}}</p>
        <p>email: {{email}}</p>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                nome: "Cesar",
                email: "cesar.santos8923@gmail.com",
                receberEmail: "",
            }
        });
    </script>


</body>

</html>